<div class="m-5 d-flex justify-content-center">
  <form class="example-form">


    <mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name </mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email Id</mat-label>
      <input matInput placeholder="Ex. uday@vnrvjiet.com">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type=password matInput placeholder="Your secret password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Ex. Your Query"></textarea>
    </mat-form-field>


    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
