<div class="m-5 d-flex justify-content-center">
  <form class="example-form">

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name </mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="example-full-width">
      <mat-label>Email Id</mat-label>
      <input matInput placeholder="Ex. uday@vnrvjiet.com">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type=password matInput placeholder="Your secret password">
    </mat-form-field>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <input matInput placeholder="Ex. California">
          </mat-form-field>
        </td>
        <td>
          <button mat-raised-button color="primary">Register</button>

        </td>
      </tr>
    </table>
  </form>
</div>
